@charset "UTF-8";
* {
  position: relative;
  font-family: "Roboto Condensed", sans-serif, "微軟正黑體";
}


.in1 {
  display: inline;
}

.outside {
	margin: 20px;
}

.pic {
	border: solid 1px black
}

.searbtn {
  margin: 5px;
  padding: 5px;
  padding-right: 10px;
  cursor: pointer;
  border: solid 1px black;
  border-radius: 2px;
  text-align: center;
}

.sehover {
  background-color: #378FDC;
}

