@charset "UTF-8";
* {
  position: relative;
  font-family: "Arial", "Roboto Condensed", sans-serif, "微軟正黑體";
}

.pic{
  border-radius: 3px;	
}

.lv1 {
  font-size: 1.5rem;
}

.in1 {
  display: inline;
  line-height: auto;
}

.outside {
  position: absolute;
  display: inline;
  margin: 10px;
  z-index: 1;
}

.pic {
	border: solid 1px black
}

.searbtn {
  color: #fff;
  background-color: #00BC8A;
  margin: 5px;
  padding: 5px;
  padding-right: 10px;
  cursor: pointer;
  border-radius: 2px;
  text-align: center;
  border-radius: 6px;
}
